My events<br />
<ul>

<% @friend_event.each do |evento| %>
<%= evento["name"] %> (<i><%=evento["start_time"]%></i>)<hr>
<% end %>
</ul>


<p><%= session[:friend_count] %></p>

<p><%=  @temp_friend %></p>
 


