

<div class="index_menu">
	
	<div class="menu_image">
		<%= image_tag "event_list.png" %>
		<p><h2>Event List</h2></p>
		
		</div>
	
	
	<div class="menu_image">
		<%= image_tag "event_map.png" %>
		<p><h2>Map</h2></p>
		
		</div>
		
		<div class="menu_image">
		<%= image_tag "calendar.png" %>
		<p><h2>Calendar</h2></p>
		
		</div>
	
	
	</div>
