
<div id="gender">
  <div class="gender"><%= image_tag('event_show/man.png', :size => '35x35') %>
    <label><%= @male %></label>
  </div>
<div class="gender"><%= image_tag('event_show/women.png', :size => '35x35') %>
<label>
<%= @female %>
</label>

 </div>

</div>

