


<%= gmaps4rails(@json) %>

<br />

<table>
  <tr>
    <th>Name</th>

  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
   
   
  </tr>
<% end %>
</table>


<%= link_to 'New Event', new_event_path %>



<%= session[:access_token] %>
