/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/* style the head section */

/* reset */
* {	margin: 0; padding: 0; }

/* tell the browser to render HTML 5 elements as block */
header, footer, section, aside, nav, article { display: block; }

/* basic styles */

body { font-size: 14px; line-height: 1.5em; font-family: Verdana,Helvetica,Arial,sans-serif;  background:  #F2F2F2;  }
#main{ text-align:center; background-color: #F2F2F2;  }

h1 { font-size: 18px; margin-bottom: 40px; }
h2 { font-size: 16px; margin-bottom: 30px; }
h3 { font-size: 14px; margin-bottom: 20px; }
h4, h5, h6 { font-size: 14px; margin-bottom: 10px; }

ul { list-style: square; margin: 0 0 0 40px; padding: 0; }

p { margin: 0 0 10px 0; }
.small { font-size: 12px; }
.nomargin { margin: 0; }

a { color: #74809a; text-decoration: none !important;}
a:visited { color: #74809a; }
a:hover { color: #c81419; }




#headLogin {float:right; margin-right: 20px; margin-bottom: 5px; background-color: #F2F2F2; }


#leftSide{ float:left;}
#center{  text-align:left; margin:0 auto 0 auto; width: 850px;  }
#rightSide{float:left;}

#nav_bar{ float: right; margin-right: 15%; margin-bottom: 5px; margin-top: 5px; border-bottom: solid 1px #DCDCDC; width: 600px; margin-top: 20px; padding-bottom: 10px;}

#main{ width: 100%; float: left;}

#footer{ float:left; }


.index_menu{  float:left; margin:0 auto 0 auto; width: 850px; text-align:left; }



.menu_image{ float:left; width: 150px; margin-right: 40px; margin-left: 20px; } 
.menu_image p { padding-left: 18px; margin-left: 10px; float: left; margin-top: 15px;}


.listObject{ float: left;  width: 850px; height: 80px; margin-top: 15px; border-bottom: solid 1px #DCDCDC; }

.listObject .photo { float: left; width: 65px; }


