// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#img-cont{
position: absolute;
}

.ajax-wait {
position: relative;
left: 420px;
bottom: 280px;
z-index: 3;
}

.menu {
opacity:0.5;

}

.select{
opacity:1;  
}

.menu_top {
opacity:0.4;

}

.ajax-wait-lists{
position: relative;
top: 150px;
left: 420px;
}

/* event show */

.show_picture{ float:left; min-height: 450px; }
.show_name{ float: left; margin-left: 30px; width: 600px; height: 35px; }
.show_description{ float:left; width: 600px; margin-left: 30px;}
.show_time{ float:left; margin-left: 30px; margin-top: 15px;}
.show_address{ float: left; margin-bottom: 10px; width: 100%; margin-left: 30px; }
.show_map{ float:left; margin-bottom: 30px; }
.show_general{ float: left; width: 100%; margin-bottom: 30px;}
.show_location{ float: left; margin-left: 20px; width: 600px; margin-top: 20px;}
.show_friends{ float:left; margin-top: 25px; width:600px; margin-left: 30px;}
.gender{ float:left; margin-right: 10px; margin-left: 10px; width: 30px; height: 60px;}
.gender label { margin-left: 15px;}
#gender{ width: 200px; height: 60px; margin-left: 10px; float: left; opacity:.5;}
#gender:hover{ opacity:1;}
.more_friends { width: 100%; height: 25px; float: left; margin-left: 30px;}
.friend_pictures{ float:left; width: 350px;}


/* lista eventos */

.listObject{ float: left; margin-left: 30px; width: 850px; height: 80px; margin-top: 15px; border-bottom: solid 1px #DCDCDC; }

.listObject .photo { float: left; width: 65px; margin-left: 15px; }


.category_nav{ background: #ffffff; border-bottom: solid 1px #DCDCDC; height: 20px; width: 100%; float: left; margin-top: -15px;}

