
img {
	border: none;
}

/* dock - top */
.dock {
	position: absolute; 
	/*height: 50px; */
	left: 0;
	top:80px;
	width: 100%;
	height: 10px;
	text-align: center;
	z-index: 3;
}
.dock-container {
	position: absolute;
	height: 50px;
	background: url(/assets/Filters/dock-bg2.gif);
	padding-left: 20px;
	border-radius: 50px;
}
a.dock-item {
	display: block;
	width: 40px;
	color: #000;
	position: absolute;
	top: 0px;
	text-align: center;
	text-decoration: none;
	font: bold 12px Arial, Helvetica, sans-serif;
}
.dock-item img {
	border: none; 
	margin: 5px 10px 0px; 
	width: 100%; 
}
.dock-item span {
	display: none; 
	padding-left: 20px;
}

/* dock2 - bottom */
#dock2 {

	left: 0;	
	height: 10px;
	width: 100%;	
	bottom: 50px;
	position: absolute;
	text-align: center;
	left: 0px;
}
.dock-container2 {
	position: absolute;
	height: 50px;
	background: url(/assets/Filters/dock-bg.gif);
	padding-left: 20px;
	border-radius: 50px;
}
a.dock-item2 {
	display: block; 
	font: bold 12px Arial, Helvetica, sans-serif;
	width: 40px; 
	color: #000; 
	bottom: 0px; 
	position: absolute;
	text-align: center;
	text-decoration: none;
}
.dock-item2 span {
	display: none;
	padding-left: 20px;
}
.dock-item2 img {
	border: none; 
	margin: 5px 10px 0px; 
	width: 100%; 
}

.menu_map{

	position: absolute;
	z-index: 99;
	bottom: 50px;
	right: 5px;
	width: 200px;
	height: 200px;
}